
<style>

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font: "Helvetica Neue";
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    font-size: 1.5rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.05rem;
    margin: 0.5rem 0 1rem 0;
    max-inline-size: 35rem;
    font: "Helvetica Neue";
    font-family: Arial, Helvetica, sans-serif;
  }

  .smoll {
    font-size: 0.45rem;
    letter-spacing: 0;
    position: fixed;
    bottom: -14px;
  }

  .shamelessPlug {
    font-size: 0.5rem;
    letter-spacing: 0;
    bottom: -13px;
    position: absolute
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-right: 2rem;
    margin-top: 0.5rem;
  }

    .content h1 {
      margin-top: 1.75rem;
      margin-bottom: 0.5rem;
    }

  input[type = text] {
    width: 100%;
    background-color: lightgrey;
    color: black;
    margin: 1rem 0 4px 0;
    max-width: 35rem;
    border: solid;
    border-color: #1da0c3;
    outline-color: #1da0c3;
    height: 1rem;
  }

  button[type = button] {
    background-color: #1da0c3;
    border-color: black;
    outline-color: #1da0c3;
    margin: 0 0 0.75rem 0;
    max-width: 35rem;
    color: white;
    cursor: pointer;
    width: 5rem;
  }

  ::placeholder {
    color: black;
    opacity: 75%;
  }

  .left-side label {
    color: red;
    font: "Helvetica Neue";
    font-family: Arial, Helvetica, sans-serif;
  }

  .vertical-line {
    stroke: #1da0c3;
    stroke-width: 1;
    display: inline-block;
  }

 /* .svg {
    overflow: hidden;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    float: left;

  }

  .svg .shape-fill {
    fill: #1DA0C3CC;
  }

  footer {
    background-color: #1da0c3;
    height: 50px;
  }

  footer::before{
      float: left;
  }*/

</style>

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Bandcamp Backlog Breaker</h1>
      <input name="InputField" type="text" placeholder="Your Bandcamp name..." id="Input">
      <button type="button" (click)="getUserWishlistData()">Let's rock</button>
      <div *ngIf="errorMessage">
        <label>{{labelText}}</label>
      </div>
      <p>
        Got too much good music on your Watchlist and you don't know
        where to start?
      </p>
      <p>
        Let the Bandcamp Backlog Breaker decide which band you should support next!
      </p>
    </div>
  </div>
</main>

<!--<footer class="svg">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M0 120 L1200 120 1200 0 0 104z" class="shape-fill"></path>
  </svg>
</footer>-->

<!--<footer>
  <p class="smoll">
    Note: The author of this site is not affiliated with Bandcamp.
  </p>
</footer>



<p class="shamelessPlug"><a href="https://bandcamp.com/thedizzlingone">Find me here</a></p>-->
