<!-- ng build --output-path=dist --base-href /bandcampbacklogbreaker.github.io/ -->
<!-- npx angular-cli-ghpages --dir=dist/browser -->


<div class="app-wrapper">
  <main class="main">
    <div>
      <h1>Bandcamp Backlog Breaker</h1>
      <input name="InputField" type="text" placeholder="Your Bandcamp name..." id="Input">
      <button type="button" (click)="getUserWishlistData()">Let's rock</button>
      <div class="uno" *ngIf="errorMessage">
        <label>{{labelText}}</label>
      </div>
      <div *ngIf="linkProvided">
        <a class="dos" [href]="link">{{link}}></a>
      </div>
      <p class="mainP">
        Got too much good music on your Watchlist and you don't know
        where to start?
      </p>
      <p class="mainP">
        Let the Bandcamp Backlog Breaker decide which band you should support next!
      </p>
    </div>
  </main>

  <footer>
    <p class="shamelessPlug">
      <a href="https://bandcamp.com/thedizzlingone">
        <img class="bc" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/BandcampLogo_x320.png">
      </a>

      <a href="https://www.youtube.com/@jvandizzle9014">
        <img class="yt" src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png">
      </a>
    </p>
    <p class="smoll">
      Note: The author of this site is not affiliated with Bandcamp. Contact: jvandizzle36&#64;gmail.com
    </p>
  </footer>
</div>

